flows.json
[{"id":"9c335bf0.aa6178","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5e2d6e90.deb8c","type":"mqtt in","z":"9c335bf0.aa6178","name":"","topic":"#","qos":"1","datatype":"utf8","broker":"66083f63.6e952","x":140,"y":260,"wires":[["8e4b7ad2.0072a8"]]},{"id":"8e4b7ad2.0072a8","type":"json","z":"9c335bf0.aa6178","name":"","property":"payload","action":"","pretty":false,"x":330,"y":140,"wires":[["b6eed1e9.b54bf"]]},{"id":"b6eed1e9.b54bf","type":"function","z":"9c335bf0.aa6178","name":"Temperatura","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = Number(msg.payload.uplink_message.decoded_payload.Temperatura);\nreturn [msg1];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":260,"wires":[["b28f5048.68b8e","342ed97a.83f476"]]},{"id":"b28f5048.68b8e","type":"debug","z":"9c335bf0.aa6178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":220,"wires":[]},{"id":"342ed97a.83f476","type":"influxdb out","z":"9c335bf0.aa6178","influxdb":"3e7e6b04.80e674","name":"temperatura","measurement":"temperatura","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":950,"y":280,"wires":[]},{"id":"66083f63.6e952","type":"mqtt-broker","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e7e6b04.80e674","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Temperaturas","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]